*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 95.5%;
}





/* header responsive code  */
  @media(max-width:998px) {
    html{
        font-size: 55%;
    }

    
}

@media(max-width:75px) {
    html {
        font-size: 45%;
    }
  }




body {
    font-family: "Poppins";
    max-width: 80rem;
    margin: 0 auto;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* padding-top: 31px; */
    /* padding-left: 6%; */
    /* padding-right: 6%; */
    /* padding-bottom: 39px; */
    height: 20vh;
}

nav img{
    width: 6.8rem;
    display: block;
    /* margin-top: 20px; */
}

nav .nav-items{
display: flex;
gap: 3.1rem;
align-items: center;
font-size: 1.2rem;
/* margin-top: 5px; */
}

nav .nav-item{
    display: flex;
    gap: 3.1rem;
}


nav .nav-items .active-item{
    color: coral;
    font-weight: bold;
    font-size: 1.1rem;
}

nav img:last-child{
    width: 12.5rem;
}

.intro-section{
    display: flex;
    align-items: center;
    /* padding-right: 7%; */
    /* border: 5px solid black; */
    /* padding-left: 7%; */
}

.left-section{
    max-width:  43.75rem;
    /* padding-bottom: 14rem; */
    margin-top: 2.5rem;
}

.left-section h3 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.left-section h3 img{
    width: 2.5rem;
    margin-left: 0.6rem;
}

.left-section h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 200;
}

.left-section .sub-headlines {
    margin-left: 5rem;
    font-size: 1.4rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
}

.left-section .sub-headline {
    font-size: 1.2rem;
}

.left-section .sub-headlines h5{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.6rem;
}

.left-section .sub-headlines h5 img{
    position: relative;
    background-color: coral;
    border-radius: 5.6rem;
    padding: 0.3rem;
    margin-right: 0.9rem;
    cursor: pointer;
}

.left-section .text{
    font-size: 0.8rem;
    color: black;
    margin-top: 3.7rem
}

.left-section .action-btns{
    margin-top: 2.5rem;
}

.left-section .action-btn{
    background-color: coral;
    border: none;
    padding: 1rem 2.1rem ;
    border-radius: 3.1rem;
    color: aliceblue;
    font-size: 1rem;
    cursor: pointer;
}

.left-section .action-btn:not(:last-child){
    margin-right: 1.2rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headphone-div {
    position: relative;
    width: 35.6rem;
}
.headphone-div .discount-content {
    position: absolute;
    top: 230px;
    left: 70px;
    color: #FFF;
}
.headphone-div img:first-child {
    position: absolute;
    width: 14.3rem;
    top: 12.5rem;
    left: 2.5rem;
}
.headphone-div img:last-child {
    width: 26.25rem;
    position: relative;
    z-index: -1;
    top: -1.2rem;
    left:  5rem;
}
.right-section .dots {
    display: flex;
    gap: 1.2rem;
    margin-top: -1.25rem;
}
.right-section .dots .dot {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 3.1rem;
}



.cursor , .nav-item {
cursor: pointer;
}

.cursor:hover {
cursor: pointer;
color: coral;
}

.right-section .dots .dot.yellow-dot {
    background-color: yellow;
}
.right-section .dots .dot.tomato-dot {
    background-color: coral;
}
.right-section .dots .dot.black-dot {
    background-color: black;
}
.right-section .action-btn {
    background-color: #fe6139;
    border: none;
    padding: 1rem 2.1rem;
    border-radius: 3.1rem;
    color: #FFF;
    font-size: 1rem;
    margin-top: 3rem;   
    cursor: pointer;
}